.redirect {
    width: 100%;
    height: auto;

}
.redirectBox{
    padding: 5px;
}
.redirect:hover
{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.blinker__container{
    color: lightgreen;
    opacity: 0.8;
}
